<!-- inicio de sobre-mi -->

<section id="sobre-mi" class="titulos max-width">
    <h5>Hola {{usuario}}! <a href="">Cerrar Sesion <i class="fa-solid fa-right-from-bracket"></i></a></h5>
    <h1>Sobre Mi</h1>
</section>

<!-- fin de sobre-mi -->
<!-- inicio de galeria -->

{{!-- <section class="max-width titulos" id="galeria">
    <h1>Galeria</h1>
    <div class="tendencia">
    </div>
</section> --}}

<!-- fin de galeria -->
<!-- inicio de contactanos -->

<section id="contactanos" class="titulos max-width">
    <h1>Contactanos</h1>
    <h2>Horarios y dias de Atencion</h2>
    <table>
        <tr>
            <td>dias</td>
            <td>horarios</td>
            <td>Cambios</td>
        </tr>
        {{#each horarios}}
        <tr>
            <td>{{dias}}</td>
            <td>{{horarios}}</td>
            <td><a href="/admin/cambios/horarios/{{id}}">Cambiar Horario<i class="fa-solid fa-pen-to-square"></i></a></td>
        </tr>
        {{/each}}
    </table>
</section>

<!-- fin de contactanos -->