<!-- incio header -->

<header class="fijo">
    <div class="header max-width bienvenidos">
        <h2>Administrador</h2>
    </div>
</header>

<!-- fin de header -->
<!-- inicio de sobre-mi -->

<section id="sobre-mi" class="titulos max-width">
    <h1>Sobre Mi</h1>

<!-- fin de sobre-mi -->
<!-- inicio de galeria -->

{{!-- <section class="max-width titulos" id="galeria">
    <h1>Galeria</h1>
    <div class="tendencia">
    </div>
</section>

<!-- fin de galeria -->
<!-- inicio de contactanos -->

<section id="contactanos" class="titulos max-width contactanos">
    <h1>Contactanos</h1>
    <h2>Horarios y dias de Atencion</h2>
    <table>
        <tr>
            <td>dias</td>
            <td>horarios</td>
        </tr>
        <tr>
            <td>Lunes</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Martes</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Miercoles</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Jueves</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Viernes</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Sabado</td>
            <td>09:00 a 18:00</td>
        </tr>
        <tr>
            <td>Domingo</td>
            <td>Cerrado</td>
        </tr>
    </table>
</section> --}}

<!-- fin de contactanos -->