<!-- inicio de incio -->
<section id="inicio" class="max-width">
    <img class="inicioImg" src="/images/logo.jpeg" alt="">
</section>

<!-- fin de inicio -->
<!-- inicio de sobre-mi -->

<section id="sobre-mi" class="titulos max-width">
    <h1>Sobre Mi</h1>
    <div class="carousel">
        <div id="imagen">
            <button id="retroceder">Retroceder</button>
            <button id="avanzar">Avanzar</button>
            <div class="controles">
                <button id="play">Play</button>
                <button id="stop" disabled>Stop</button>
            </div>
        </div>
    </div>
    <div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident fuga iure porro dolorem.
            Doloribus
            molestiae, cupiditate unde laborum consequatur quidem aliquam asperiores nemo nostrum doloremque cum
            eligendi sed labore optio?</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos reiciendis dolor aperiam velit,
            doloremque
            officia officiis eum, optio veritatis voluptates fuga accusantium itaque ratione provident cum ab
            repellendus temporibus deleniti?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, laborum. Suscipit beatae quam
            fugit,
            eveniet sit, deserunt architecto quod repellendus in culpa commodi dignissimos possimus esse illo
            explicabo iusto consectetur!
        </p>
    </div>
</section>
<!-- fin de sobre-mi -->
<!-- inicio de galeria -->

<section class="max-width titulos" id="galeria">
    <h1>Galeria</h1>
    <div class="tendencia">
        <div data-aos="fade-right" data-aos-duration="1000" class="tendenciaimg1"><img class="img" src="images/1.jpeg"/><img class="img" src="images/img_frente/1.jpeg"/></div>
        <div data-aos="fade-left" data-aos-duration="1000" class="tendenciaimg2"><img class="img" src="images/2.jpeg"/><img class="img" src="images/img_frente/2.jpeg"/></div>
        <div data-aos="fade-left" data-aos-duration="1000" class="tendenciaimg3"><img class="img" src="images/3.jpeg"/><img class="img" src="images/img_frente/3.jpeg"/></div>
        <div data-aos="fade-right" data-aos-duration="1000" class="tendenciaimg4"><img class="img" src="images/4.jpeg"/><img class="img" src="images/img_frente/4.jpeg"/></div>
        <div data-aos="fade-left" data-aos-duration="1000" class="tendenciaimg5"><img class="img" src="images/5.jpeg"/><img class="img" src="images/img_frente/5.jpeg"/></div>
        <div data-aos="fade-right" data-aos-duration="1000" class="tendenciaimg6"><img class="img" src="images/6.jpeg"/><img class="img" src="images/img_frente/6.jpeg"/></div>
    </div>
</section>

<!-- fin de galeria -->

</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<!-- inicio de servicios -->

<section id="servicios" class="titulos max-width">
    <h1>Servicios</h1>
    <div class="cajas">
        <div class="cajas-servicios">
            <h2>Corte</h2>
            <p>Clásico o moderno. Marcamos tendencia combinando máquinas y tijeras.</p>
        </div>
        <div class="cajas-servicios">
            <h2>Barba</h2>
            <p>Afeitada tradicional o recorte de barba. Contamos con el servicio de toalla caliente.</p>
        </div>
        <div class="cajas-servicios">
            <h2>Alisado</h2>
            <p>A veces es necesario. Date una vuelta y lo evaluamos.</p>
        </div>
        <div class="cajas-servicios">
            <h2>Color</h2>
            <p>Las tendencias y los tonos cambian. Animate vos también.</p>
        </div>
        <div class="cajas-servicios">
            <h2>Decoloracion</h2>
            <p>Encontrar el tono justo para tu estilo es nuestro objetivo.</p>
        </div>
        <div class="cajas-servicios">
            <h2>Chicos</h2>
            <p>El mini Diegos sabe lo que quiere, por eso atendemos sus antojos</p>
        </div>
    </div>
</section>

<!-- fin de servicios -->

<!-- inicio de contactanos -->

<section id="contactanos" class="titulos max-width contactanos">
    <h1>Contactanos</h1>
    <div class="contacto">
        <h2>Reserva turno via WhatssApp</h2>
        <ul>
            <li>
                <a href="https://wa.me/5491134496622?text=Hola+Diego%2C+estoy+interesado+en+pedir+un+turno+para+corte%2C+gracias"
                    target="_blank"><i class="fab fa-whatsapp-square"></i></a>
            </li>
        </ul>
        <h2>Horarios y dias de Atencion</h2>
        <table>
            <tr>
                <td>dias</td>
                <td>horarios</td>
            </tr>
            <tr>
                <td>Lunes</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Martes</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Miercoles</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Jueves</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Sabado</td>
                <td>09:00 a 18:00</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td>Cerrado</td>
            </tr>
        </table>
    </div>
    <div class="ubicacion">
        <h2>¿Como llegar?</h2>
        <iframe class="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205.70057018273732!2d-58.73408193524348!3d-34.421442832194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca1e105042795%3A0x596c507df48ac2a4!2sMaxikiosko%20Bon-Bom!5e0!3m2!1ses-419!2sar!4v1643974618076!5m2!1ses-419!2sar"
            width="960" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

<!-- fin de contactanos -->
