<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/index.css">
  <script src="javascripts/nav.js" defer></script>
  <script src="/javascripts/carousel.js"></script>
  <title>Arte Fade</title>
</head>

<body>

  <!-- incio header -->

  <header class="fijo">
    <div class="header max-width">
      <div class="bienvenidos">
        <h2>Bienvenidos</h2>
      </div>
      <div class="contactos">
        <ul>
          <li><a href="https://www.facebook.com/" target="blank_"><i class="face fab fa-facebook"></i></a></li>
          <li class="instagram"><a href="https://www.instagram.com/arte.fade/" target="blank_"><i
                class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>

    <!-- fin de header -->
    <!-- inicio de nav -->

    <nav class="navegador">
      <ul class="max-width">
        <li class="active" data-url="inicio"><a href="#inicio">Inicio</a></li>
        <li data-url="sobre-mi"><a href="#sobre-mi">Sobre mi</a></li>
        <li data-url="galeria"><a href="#galeria">Galeria</a></li>
        <li data-url="servicios"><a href="#servicios">Servicios</a></li>
        <li data-url="contactanos"><a href="#contactanos">Contactanos</a></li>
      </ul>
    </nav>
  </header>

  <!-- fin de nav -->

  {{{body}}}

  <!-- incio de footer -->

  <footer>
    <p>Desingned by: Alejandro Costilla</p>
  </footer>

  <!-- fin de footer -->

</body>

</html>