 /* inicio del login */

.contenedor{
  margin-top: 100px;
}
.contenedor img{
  width: 50%;
  float: left;
  margin-bottom: 20px;
  height: 680px;
}
.usuarios{
  float: right;
  width: 47.5%;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgb(202, 202, 202);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-left: 2.5px;
}
.usuarios input{
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 90%;
  padding: 5px 0 0;
}
.usuarios .iniciar_sesion{
  background-color: black;
  color: white;
  padding: 10px auto;
  width: 80%;
}
.usuarios .pass a{
  font-size: 1rem;
  text-decoration: none;
}
.usuarios .nueva_cuenta{
  background-color: rgb(0, 202, 0);
  padding: 15px 0;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 20px 15%;
  width: 70%;
}
.usuarios .nueva_cuenta a{
  text-decoration: none;
  color:white;
}
.contenedor .iniciar_sesion:hover{
  background-color: gray;
  color:yellow;
  transition: .3s;
}
.contenedor .nueva_cuenta:hover{
  background-color: gray;
  transition: .3s;
}  
.contenedor .nueva_cuenta:hover a{
  color:yellow;
  transition: .3s;
}
.contenedor .pass a:hover{
  color:yellow;
  text-decoration:underline;
  transition: .3s;
}
/* fin del login */
/* incio de sobre mi */
#sobre-mi{
  margin-top: 120px;
}
#sobre-mi h5{
  text-align: end;
  font-weight: 200;
}
#sobre-mi a{
  text-decoration: none;
  background-color: red;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
 
/* fin de sobre mi */
 /* comienzo de galeria*/

  /* #galeria{
    margin-top: 120px;
  } */

  /* fin de galeria */
  /* comienzo de horarios */

  #contactanos{
    text-align: center;
  }
  #contactanos table{
    margin: 30px auto;
    border-collapse: collapse;
  }
  table tr td{
    padding: 10px 5px;
  }
  #contactanos table tr a{
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
  }
  tr:nth-child(odd){
    background-color: #999;
  }
  tr:nth-child(even){
    background-color: white;
  }
  #contactanos table tr a:hover{
    color:yellow;
    transition: .3s;
  }
  /* fin de horarios */