/* comienzo del incio*/

section .inicioImg {
  padding-top: 72px;
  width: 100%;
  margin: 0;
  height: 1200px;
}

/* fin de incio*/
/* inicio de sobre-mi */
.carousel{
  position: relative;
  height: 800px;
  margin: 0 auto;
}
.carousel_imagenes{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.carousel_contenedor_marca{
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel_marca{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel_diapositiva{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.boton_carousel{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  /* height: 200px; */
}
.boton_carousel img{
  width: 20px;

}
.boton_carousel_izquierda{
  left: -40px;
}
.boton_carousel_derecha{
  right: -40px;
}
.carousel_nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.indicador_carousel{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #999;
  margin: 0 15px;
  cursor: pointer;
}
.indicador_carousel.activo{
  background: rgba(0, 0, 0,.75);
}
.esta_oculto{
  display: none;
}
.sobremi {
  text-align: center;
}
.sobremi h1 {
  display: block;
}

/* fin de sobre-mi */
/* comienzo de galeria*/

.tendenciaimg1 {
  grid-area: img1;
}
.tendenciaimg2 {
  grid-area: img2;
}
.tendenciaimg3 {
  grid-area: img3;
}
.tendenciaimg4 {
  grid-area: img4;
}
.tendenciaimg5 {
  grid-area: img5;
}
.tendenciaimg6 {
  grid-area: img6;
}

.tendencia {
  display: inline-grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 425px 425px 426px 425px;
  grid-template-areas:
    "img1 img1 img2"
    "img1 img1 img3"
    "img4 img5 img5"
    "img6 img5 img5";
}
.img {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* inicio animacion cambiar imagen */

.tendenciaimg1 .img:last-child,.tendenciaimg1:hover .img:first-child,
.tendenciaimg2 .img:last-child,.tendenciaimg2:hover .img:first-child,
.tendenciaimg3 .img:last-child,.tendenciaimg3:hover .img:first-child,
.tendenciaimg4 .img:last-child,.tendenciaimg4:hover .img:first-child,
.tendenciaimg5 .img:last-child,.tendenciaimg5:hover .img:first-child,
.tendenciaimg6 .img:last-child,.tendenciaimg6:hover .img:first-child{
  display: none;
}
.tendenciaimg1:hover .img:last-child,
.tendenciaimg2:hover .img:last-child,
.tendenciaimg3:hover .img:last-child,
.tendenciaimg4:hover .img:last-child,
.tendenciaimg5:hover .img:last-child,
.tendenciaimg6:hover .img:last-child{
  display: block;
  filter: grayscale(100%);
  animation: opacidad 3s ease;
  animation-fill-mode:forwards;
}
@keyframes opacidad{
  10%{filter:grayscale(90%);}
  20%{filter:grayscale(80%);}
  30%{filter:grayscale(70%);}
  40%{filter:grayscale(60%);}
  50%{filter:grayscale(50%);}
  60%{filter:grayscale(40%);}
  70%{filter:grayscale(30%);}
  80%{filter:grayscale(20%);}
  90%{filter:grayscale(10%);}
  100%{filter:grayscale(0%);}
}

/* fin de animacion cambiar imagen */

/* fin de galeria*/

/* incio de servicios*/

.cajas {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}
.cajas .cajas-servicios {
  width: 31%;
  text-align: center;
  margin: 10px 10px;
}

/* incio de contactanos */
.contacto {
  width: 50%;
  box-sizing: border-box;
  float: left;
  border-right: black solid 2px;
  margin-bottom: 50px;
}
.contacto table {
  margin-left: 60px;
}
.contactanos {
  text-align: center;
}
.contactanos ul {
  padding: 0;
}
.contactanos ul li {
  list-style: none;
}
.contactanos ul li a .fa-whatsapp-square {
  color: #00bb2d;
  font-size: 4rem;
}
.contactanos table,
td,
th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  text-align: start;
  padding: 5px 5px 5px 0;
  font-size: 1.5rem;
}
tr:nth-child(odd) {
  background-color: rgb(180, 180, 180);
}
td:nth-child(odd) {
  padding: 0px 35px 0px 0;
}
.ubicacion {
  width: 50%;
  box-sizing: border-box;
  float: right;
}
.mapa {
  max-width: 100%;
}

/* fin de contactanos */